.notification-toggle-list {
    display: flex;
    flex-direction: column;
}

.notification-toggle-list .profile-toggle-row {
    padding: 16px 0;

    border-bottom: 1px solid #f0f1f3;
}

.notification-toggle-list .profile-toggle-row:first-child {
    padding-top: 0;
}

.notification-toggle-list .profile-toggle-row:last-child {
    padding-bottom: 0;

    border-bottom: 0;
}